doctype html
html(lang="en")
    head
        include ./templates/head.pug
    body 
        #background

        include ./templates/header.pug
        include ./templates/main.pug
        include ./templates/advantages.pug
        include ./templates/about.pug

        include ./templates/scripts.pug




