doctype html
html(lang="en")
    head
        include ./templates/head.pug
    body 
        #background

        include ./templates/header.pug
        include ./templates/login.pug

        include ./templates/scripts.pug

