@import "./variables.scss";

.about {
    background: $primary_gradient;
    padding: 17rem 0 0 0;

    &_picture {
        margin-right: 16rem;
    }

    &_wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 11rem;
    }

    &_icon {
        width: 4rem;
        height: 4rem;
        margin-right: 4rem;
    }

    &_content {
        color: $light;
    }

    &_heading {
        margin-bottom: 6.7rem;

        > span {
            color: $info;
        }
    }

    &_item {
        display: flex;
        padding-bottom: 4.4rem;
        position: relative;
        z-index: 2;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 4rem;
            bottom: 0;
            left: 1.8rem;
            border-left: 5px dotted $light;
            z-index: -2;
        }

        &-text-wrapper {
            display: flex;
            flex-direction: column;
        }

        &-heading {
            margin-bottom: 1.2rem;
        }
    }
}

.info {
    display: flex;
    justify-content: space-between;

    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3.8rem 4.5rem;
        background: $primary_gradient;
        border-radius: 2rem;
        color: $light;
        border: 0.3rem solid $primary_color;
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7), -8px -7px 5px 2px rgba(0, 0, 0, 0.47) inset;
    }

    &_heading {
        margin-bottom: 1rem;
    }
}