@import "./variables.scss";
@import "./default_settings.scss";

.authentication {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/authentication_background.png");
    height: 100vh;

    &_left-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1; 

        .left-info_wrapper {
            color: $light;
            text-align: left;
            > p {
                margin-top: 2.2rem;
            }
        }
    }

    .authentication_form {
        display: flex;
        align-items: center;
        justify-content: stretch;
        flex-grow: 1; 
        padding-inline: 15rem;
        align-self: stretch;
        background: $light;

        .form_checkbox {
            margin-right: 1.3rem; 
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 41.8rem;
    width: 100%;

    > * {
        margin-top: 3.3rem;
    }

    &_field {
        display: flex;
        flex-direction: column;

        @at-root &--row {
            flex-direction: row;
            align-items: center;
        }
    }

    &_label {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    &_input {
        align-self: stretch;
        flex-grow: 1;
        width: 100%;
        height: 4.8rem;
        border: 1px solid $secondary_color;
        border-radius: 3px;
        padding: 1.5rem 2rem;
    }

    &_button {
        @extend .button;

        align-self: stretch;
        width: 100%;
    }
}
