@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

html {
    font-size: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;    
    cursor: pointer;
}

h1 {
    font-size: 3.6rem;
    font-weight: bold;
}

h2 {
    font-size: 3.2rem;
    font-weight: bold;
}

h3 {
    font-size: 2.4rem;
    font-weight: bold;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

.button {
    color: #fff;
    font-size: 1.4rem;
    border-radius: 0.9rem;
    padding: 1.5rem 4.4rem;
    border: 1px solid $light;
    background: $secondary_color;
    background: $primary_gradient;
    box-shadow: inset -1px -1px 1px $info; 

    &:hover {
        box-shadow: inset -2px -2px 0px $info; 
    }
}

.container {
    max-width: 1258px;
    margin: 0 auto;
    padding: 0 2.8rem;
}

.description {
    font-size: 1.6rem;
    font-weight: bold;
}