@use "sass:map";
@import "./variables.scss";

.mobile-menu {
    z-index: 3;
    display: none;
    cursor: pointer;
}

.logo {
    padding: 0 2.8rem;
    background: $light;
    position: relative;

    &::after {
        content: "";
        display: block;
        z-index: 1;
        position: absolute;
        top: 0;
        width: 5rem;
        right: -5rem;
        bottom: 0;
        background: $light;
    }
}

.menu {
    &_item {
        margin-right: 7.2rem;

        &--authorization {
            display: none;
        }

        &::after {
            content: "";
            display: block;
            background: $light;
            top: 2px;
            left: 0;
            width: 0%;
            height: 2px;
        }

        &:hover {
            &::after {
                width: 100%;
                transition: ease-in-out  0.1s;
            }
        }
    }

    &_item-link {
        color: $light;
        font-size: 1.4rem;
    }
}

.navigation-bar {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        background-image: url(../img/header_background.svg);
        background-repeat: no-repeat;
        background-size: cover;


        &_menu {
            display: flex;
        }

        &_authorization {
            display: flex;
            margin-left: auto;

            > a {
                margin-left: 2.8rem;
            }
        }
    }

.header {
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    position: fixed;
    justify-content: space-between;


    &_navigation-bar {
        z-index: 2;
        padding: 0 2.8rem 0 7.2rem;
    }
}

@media screen and (max-width: map.get($break_points, "medium")) { 
    .menu {
        position: fixed;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../img/menu_background.svg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10rem;
        text-align: left;
        overflow: auto;
        width: 0%;
        z-index: 2;
        visibility: hidden;

        &--active {
            width: 100%;
            visibility: visible;
            transition: ease 0.2s;
        }

        &_item {
            display: inline;
            white-space: nowrap;
            margin-top: 4rem;

            &--authorization {
                display: block;
            }
        }
    } 

    .mobile-menu {
        display: block;
    }

    .mobile-menu--active {
        position: fixed;
        top: 2.6rem;
        right: 2.2rem;
    }
}

@media screen and (max-width: map.get($break_points, "low")) {
    .navigation-bar {
        justify-content: flex-end;
    }
    .mobile-menu {
        margin-left: auto;
        position: initial !important;
    }
    .menu-item-authorization {
        display: block !important;
    }
    .authorization {
        visibility: hidden;
        display: none !important;
    }
 }