@import "./variables.scss";

.main {
    position: relative;
    padding: 10.6rem 0 11rem 0;

    > .container {
        display: flex;
        align-items: center;
    }

    &_background {
        margin-left: auto;
        > img {
            width: 100%;
        }
    }

    .main-info {
        position: absolute;
        z-index: 1;
        max-width: 71.9rem;

        &_description {
            margin-top: 3rem;
            max-width: 59.1rem;
        }

        &_actions {
            margin-top: 3rem;
            .button {
                margin-right: 3rem;
            }
        }
    }
}
