@import "./variables.scss";

.main {
    position: relative;
    padding: 10.6rem 0 11rem 0;

    &_wrapper {
        display: flex;
        align-items: center;
    }

    &_background {
        margin-left: auto;
        > img {
            width: 100%;
        }
    }
}

.main-info {
    position: absolute;
    z-index: 1;
    max-width: 71.9rem;

    &_header {
        margin-bottom: 3rem;
    }

    &_description {
        max-width: 59.1rem;
        margin-bottom: 3rem;
    }

    &_actions {
        .button {
            margin-right: 3rem;
        }
    }
}
