section.about 
    .container
        .about_wrapper
            image(src="./img/blockchain.svg").about_picture
            
            .about_content
                h3.about_heading What is <span> moon mine? </span>
                .content
                    .about_item 
                        image(src="./img/world.svg").about_icon
                        .content_item-text-wrapper
                            .about_item-heading Complitly available
                            .text Our goul is making mining avelable for ordinary user 
                    .about_item 
                        image(src="./img/coin.svg").about_icon
                        .content_item-text-wrapper
                            .about_item-heading Low prices
                            .text Our experts regularly optimize the system for market conditions, which allows you to get maximum income with minimal investment
                    .about_item 
                        image(src="./img/www.svg").about_icon
                        .content_item-text-wrapper
                            .about_item-heading Fail-safe cloud mining
                            .text Thanks to partial decentralization, we can guarantee server fault tolerance

