section.about 
    .container
        image(src="./img/blockchain.svg").picture
        
        .about_content.content
            h3.about_heading What is <span> moon mine? </span>
            .content_item 
                image(src="").content_item-icon
                .content_item-text-wrapper
                    .content_item-heading Complitly available
                    .content_item-description Our goul is making mining avelable for ordinary user 
            .content_item 
                image(src="").content_item-icon
                .content_item-text-wrapper
                    .content_item-heading Low prices
                    .content_item-description Our experts regularly optimize the system for market conditions, which allows you to get maximum income with minimal investment
            .content_item 
                image(src="").content_item-icon
                .content_item-text-wrapper
                    .content_item-heading Fail-safe cloud mining
                    .content_item-description Thanks to partial decentralization, we can guarantee server fault tolerance

