section.advantages
    .container
        .advantage 
            image(src="./img/secure.svg").advantage_icon
            .advantage_header Security and Privacy
        .advantage 
            image(src="./img/modern.svg").advantage_icon
            .advantage_header Modern equipment
        .advantage 
            image(src="./img/mine.svg").advantage_icon
            .advantage_header Stable mining
        .advantage 
            image(src="./img/cash.svg").advantage_icon
            .advantage_header Fast rewards

