header.header
    .header_logo.logo
        a(href="#") 
            image(src="./img/logo.svg").logo-image
    nav.header_navigation-bar.navigation-bar
        image(src="./img/menu.svg").navigation-bar_mobile-menu.mobile-menu
        ul.navigation-bar_menu.menu
            li.menu_item.menu-item
                a(href="#").menu_item-link.link About
            li.menu_item.menu-item
                a(href="#").menu_item-link.link Equipment
            li.menu_item.menu-item
                a(href="#").menu_item-link.link Investment packages
            li.menu_item.menu-item-authorization
                a(href="#").menu_item-link.link Sing Up 
            li.menu_item.menu-item-authorization
                a(href="#").menu_item-link.link Login
        .navigation-bar_authorization.authorization
            a(href="#")
                button.authorization_button.button Sign Up
            a(href="#")
                button.authorization_button.button Login