section.authentication
    .authentication_left-info.left-info
        .left-info_wrapper
            h1 Weclome back to Moon Mine
            p.description We glad to see you again
    .authentication_form
        form.form
            h2.authentaication-form_header Login
            .form_field
                lable.form_label Email
                input(placeholder="Email").form_input
            .form_field
                lable.form_label Password
                input(placeholder="Password").form_input
            a(href="").form_field
                button.form_button Login
    
