section
    .main
        .container.main_wrapper
            .main_info.main-info 
                h1.main-info_header Hight perfomance cryptocarrency cloud mining
                .main-info_description.text.text_bold Moon mine is user friendly crytocarrency cloud mining platforms which makes mining available for every one all over the world.
                .main-info_actions 
                    a(href="#")
                        button.button Get Started
                    a(href="#")
                        button.button Read More >>

            .main_background
                image(src="./img/main_image.png")