section.authentication
    .authentication_left-info.left-info
        .left-info_wrapper
            h1 Weclome to Moon Mine
            p.description Get your free 1324TRHS as a gift
    .authentication_form
        form.form
            h2.authentaication-form_header Sign Up
            .form_field
                lable.form_label Email
                input(placeholder="Email").form_input
            .form_field
                lable.form_label Password
                input(placeholder="Password").form_input
            .form_field
                lable.form_label Repeat your password
                input(placeholder="Password again" ).form_input
            .form_field.form_field--row
                input(type="checkbox").form_checkbox
                span I have read and agree to the <a href="#"> Terms of Use </a>
            a(href="").form_field
                button.form_button Sign Up
            
